.nav {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(white, white, white, 20%);
}
.item {
  display: flex;
  justify-content: flex-end;
  gap: 17px;
}
.tools {
  display: none;
}
.text {
  height: 37px;
  font-size: 14px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container1 {
  width: 100%;
  height: 500px;
  margin-top: 12px;
  background-image: url(./image/iphone16pro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 16px;
}
.title16 {
  font-size: 30px;
  color: rgba(245, 245, 247, 1);
  text-align: center;
}
.hello {
  font-size: 18px;
  color: rgba(245, 245, 247, 1);
  display: flex;
  justify-content: center;
  text-align: center;
}
.iconic {
  font-size: 18px;
  color: rgba(245, 245, 247, 1);
  display: flex;
  justify-content: center;
  text-align: center;
}
.learnmore {
  background-color: rgba(0, 113, 227, 1);
  width: 107px;
  height: 36px;
  border-radius: 999px;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
}

.buy {
  color: rgba(41, 151, 255, 1);
  width: 66px;
  height: 36px;
  border-radius: 999px;

  border: 1px solid rgba(41, 151, 255, 1);
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
  gap: 12px;
}
.div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  width: 241px;
}
.container2 {
  width: 100%;
  height: 500px;
  margin-top: 12px;
  background-image: url(./image/iphone16.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.container2 .div {
  margin-top: 36px;
}
.container3-display {
  width: 100%;
  height: 692px;
  margin-top: 12px;
  background-image: url(./image/display/gift.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: none;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 16px;
}
.gift {
  display: none;
}
.container3 {
  width: 100%;
  height: 500px;
  margin-top: 12px;
  background-image: url(./image/ipad.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.two {
  color: black;
}

.container3 .div {
  margin-top: 36px;
}
.hello2 {
  background: linear-gradient(
    to right,
    rgba(0, 144, 247, 1),
    rgba(186, 98, 252, 1),
    rgba(242, 65, 107, 1),
    rgba(245, 86, 0, 1)
  );
  background-clip: text;
  color: transparent;
  margin-top: 230px;
  padding-bottom: 36px;
}
.container4 {
  width: 100%;
  height: 500px;
  margin-top: 12px;
  background-image: url(./image/airpods.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
.container4-display {
  display: none;
}
.container5 {
  width: 100%;
  height: 500px;
  margin-top: 12px;
  background-image: url(./image/watch.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.black {
  color: black;
}
.series {
  font-size: 13px;
}
.container5 .div {
  margin-top: 46px;
}
.container6 {
  width: 100%;
  height: 500px;
  /* margin-top: 12px; */
  background-image: url(./image/mackbook.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.container6 .div {
  margin-top: 42px;
}
.container7 {
  width: 100%;
  height: 500px;
  /* margin-top: 12px; */
  background-image: url(./image/business.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.container7 .div {
  margin-top: 47px;
}
.container8 {
  width: 100%;
  height: 500px;
  /* margin-top: 12px; */
  background-image: url(./image/Figure.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
.find {
  background-color: rgba(0, 113, 227, 1);
  width: 126px;
  height: 36px;
  border-radius: 999px;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  margin-bottom: 47px;
}
.container9 {
  width: 100%;
  height: 500px;
  /* margin-top: 12px; */
  background-image: url(./image/trade.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.get {
  background-color: rgba(0, 113, 227, 1);
  width: 150px;
  height: 36px;
  border-radius: 999px;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  margin-bottom: 47px;
}
.container9 .div {
  margin-top: 51px;
}
.container-10 {
  display: none;
}
.container-10 .div {
  margin-top: 51px;
}
.buy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.see {
  overflow: auto;
  margin-bottom: 18px;
  margin-top: 12px;
}
.scroll {
  width: 2379px;
  height: 495px;
  position: relative;
  display: flex;
  gap: 18px;
  margin-left: 18px;
}
.img1 {
  background-image: url(./image/link1.jpeg);
  width: 274px;
  height: 495px;
}
.img2 {
  background-image: url(./image/link2.jpeg);
  width: 274px;
  height: 495px;
}
.img3 {
  background-image: url(./image/link3.jpeg);
  width: 274px;
  height: 495px;
}
.img4 {
  background-image: url(./image/link4.jpeg);
  width: 274px;
  height: 495px;
}
.img5 {
  background-image: url(./image/link5.jpeg);
  width: 274px;
  height: 495px;
}
.img6 {
  background-image: url(./image/link6.jpeg);
  width: 274px;
  height: 495px;
}
.img7 {
  background-image: url(./image/link7.jpeg);
  width: 274px;
  height: 495px;
}
.img8 {
  background-image: url(./image/link8.jpeg);
  width: 274px;
  height: 495px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}
.see2 {
  overflow: auto;
  margin-bottom: 18px;
  margin-top: 12px;
}
.scroll2 {
  width: 2000px;
  height: 134px;
  position: relative;
  display: flex;
  gap: 18px;
  margin-left: 18px;
}
.zurag1 {
  background-image: url(./image/alpha.jpeg);
  height: 134px;
  width: 234px;
  background-size: cover;
}
.zurag2 {
  background-image: url(./image/alpha2.webp);
  background-size: cover;
  height: 134px;
  width: 234px;
}
.zurag3 {
  background-image: url(./image/alpha3.png);
  height: 134px;
  width: 234px;
  background-size: cover;
}
.zurag4 {
  background-image: url(./image/alpha4.webp);
  height: 134px;
  width: 234px;
  background-size: cover;
}
.zurag5 {
  background-image: url(./image/alpha5.webp);
  height: 134px;
  width: 234px;
  background-size: cover;
}
.zurag6 {
  background-image: url(./image/alpha6.jpeg);
  height: 134px;
  width: 234px;
  background-size: cover;
}
.zurag7 {
  background-image: url(./image/alpha7.webp);
  height: 134px;
  width: 234px;
  background-size: cover;
}
.zurag8 {
  background-image: url(./image/alpha8.webp);
  height: 134px;
  width: 234px;
  background-size: cover;
}
@media only screen and (min-width: 616px) {
  .body {
    display: flex;
    flex-wrap: wrap;
    gap: 0 12px;
  }
  .container1 {
    width: 100%;
    height: 650px;
    background-image: url(./image/pad/iphone16pro.png);
    justify-content: start;
  }
  .hello,
  .two {
    font-size: 22px;
  }
  .container1 .div {
    margin-top: 58px;
  }
  .container2,
  .container3 .div {
    margin-top: 58px;
  }
  .container2 {
    width: 100%;
    height: 650px;
    margin-top: 12px;
    background-image: url(./image/pad/iphone16.png);
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .container3 {
    width: 100%;
    height: 650px;
    margin-top: 12px;
    background-image: url(./image/pad/ipad.png);
    justify-content: start;
  }
  .hello2 {
    margin-top: 330px;
    font-size: 20px;
  }
  .div {
    width: 405px;
  }
  .iconic {
    width: 241px;
  }
  .container4 {
    width: 49%;
    height: 490px;
    margin-top: 12px;
    background-image: url(./image/airpods.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }
  .container5 {
    width: 49%;
    height: 490px;
    margin-top: 12px;
    background-image: url(./image/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .container6 {
    width: 49%;
    height: 490px;
    margin-top: 12px;
    background-image: url(./image/mackbook.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .container7 {
    width: 49%;
    height: 490px;
    margin-top: 12px;
    background-image: url(./image/business.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .container8 {
    width: 49%;
    height: 490px;
    margin-top: 12px;
    background-image: url(./image/Figure.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }
  .container9 {
    width: 49%;
    height: 490px;
    margin-top: 12px;
    background-image: url(./image/trade.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .see {
    overflow: auto;
    margin-bottom: 18px;
    margin-top: 12px;
  }
  .scroll {
    width: 7000px;
    height: 368px;
    position: relative;
    display: flex;
    gap: 18px;
    margin-left: 18px;
  }
  .img1 {
    background-image: url(./image/pad/Link1.jpeg);
    width: 689px;
    height: 368px;
  }
  .img2 {
    background-image: url(./image/pad/Link2.jpeg);
    width: 689px;
    height: 368px;
  }
  .img3 {
    background-image: url(./image/pad/link3.jpeg);
    width: 689px;
    height: 368px;
  }
  .img4 {
    background-image: url(./image/pad/Link4.jpeg);
    width: 689px;
    height: 368px;
  }
  .img5 {
    background-image: url(./image/pad/Link5.jpeg);
    width: 689px;
    height: 368px;
  }
  .img6 {
    background-image: url(./image/pad/Link6.jpeg);
    width: 689px;
    height: 368px;
  }
  .img7 {
    background-image: url(./image/pad/Link7.jpeg);
    width: 689px;
    height: 368px;
  }
  .img8 {
    background-image: url(./image/pad/Link8.jpeg);
    width: 689px;
    height: 368px;
  }
  .img9 {
    background-image: url(./image/pad/Link9.jpeg);
    width: 689px;
    height: 368px;
  }
  .img10 {
    background-image: url(./image/pad/Link10.jpeg);
    width: 689px;
    height: 368px;
  }
  .dot {
    margin: 0 14px;
  }
  .name {
    font-size: 42px;
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .tools {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .fa-solid {
    display: none;
  }
  .container1 {
    width: 100%;
    height: 692px;
    background-image: url(./image/display/iphone16pro.png);
    justify-content: start;
  }
  .font1 {
    font-size: 54px;
  }
  .container2 {
    width: 100%;
    height: 692px;
    margin-top: 12px;
    background-image: url(./image/display/iphone16.png);
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .container3-display {
    display: flex;
  }
  .gift-font {
    color: black;
  }
  .gift {
    display: block;
    margin-bottom: 85px;
  }
  .container3 {
    width: 49%;
    height: 580px;
    margin-top: 12px;
    background-image: url(./image/display/ioad.png);
    justify-content: start;
  }
  .hello2 {
    margin-top: 254px;
    font-size: 20px;
  }
  .display-text {
    font-size: 18px;
  }
  .container4 {
    display: none;
  }
  .container4-display {
    width: 49%;
    height: 580px;
    margin-top: 12px;
    background-image: url(./image/display/airpods2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }
  .container5 {
    width: 49%;
    height: 580px;
    margin-top: 12px;
    background-image: url(./image/display/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .container6 {
    width: 49%;
    height: 580px;
    margin-top: 12px;
    background-image: url(./image/display/macbook.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .container7,
  .container8 {
    display: none;
  }
  .container9 {
    width: 49%;
    height: 580px;
    margin-top: 12px;
    background-image: url(./image/display/trade.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .container-10 {
    width: 49%;
    height: 580px;
    margin-top: 12px;
    background-image: url(./image/display/card.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
  .apple-button {
    color: rgba(41, 151, 255, 1);
    width: 107px;
    height: 36px;
    border-radius: 999px;
    border: 1px solid rgba(41, 151, 255, 1);
  }
  .see {
    overflow: auto;
    margin-bottom: 18px;
    margin-top: 12px;
  }
  .scroll {
    width: 12700px;
    height: 668px;
    position: relative;
    display: flex;
    gap: 18px;
    margin-left: 18px;
  }
  .img1 {
    background-image: url(./image/pad/Link1.jpeg);
    width: 1250px;
    height: 668px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img2 {
    background-image: url(./image/pad/Link2.jpeg);
    width: 1250px;
    height: 668px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img3 {
    background-image: url(./image/pad/link3.jpeg);
    width: 1250px;
    height: 668px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img4 {
    background-image: url(./image/pad/Link4.jpeg);
    width: 1250px;
    height: 668px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img5 {
    background-image: url(./image/pad/Link5.jpeg);
    width: 1250px;
    height: 668px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img6 {
    background-image: url(./image/pad/Link6.jpeg);
    width: 1250px;
    height: 668px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img7 {
    background-image: url(./image/pad/Link7.jpeg);
    width: 1250px;
    height: 668px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img8 {
    background-image: url(./image/pad/Link8.jpeg);
    width: 1250px;
    height: 668px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img9 {
    background-image: url(./image/pad/Link9.jpeg);
    width: 1250px;
    height: 668px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img10 {
    background-image: url(./image/pad/Link10.jpeg);
    width: 1250px;
    height: 668px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .dot {
    margin: 0 14px;
  }
  .name {
    font-size: 42px;
  }
}
